.Projects-tease {
    background-image: url('../projects/images/projects.jpg');
    width: 100%;
    height: 30rem;
    background-size: 100%;
    background-position-y: 30%;
    background-repeat: no-repeat;
    color: white;

    justify-content: center;
    display: flex;
    flex-wrap: wrap;

    .right {

        width: 50%;
        height: 100%;
        display: table;
        
        .content {

            width: 51rem;
            padding: 8rem;
            padding-top: 8rem;
            vertical-align: middle;
            display: table-cell;
            

            .subTitle {
                font-size: 2rem;
                font-weight: lighter;
                line-height: 1;
            }

            .title{
                font-weight: bold;
                font-size: 4rem;
                text-transform: uppercase;
                line-height: 1;
            }
    
            .link-btn{
                margin-top: 1rem;

                .label {
                    padding: 1rem;
                    color: white;
                    background-color: #0A84FF;
                }

                .label:hover{
                    background-color: white;
                    color: #0A84FF;
                }
            }
        }
    }

    .left{

        background-image: url('../projects/images/projects.jpg');
        background-size: 100%;
        background-position-y: 90%;
        width: 50%;
        height: 100%;
    }
}

@media screen and (max-width: 1200px) {

    .Projects-tease {

        .right {

            padding: 1rem;
            width: 100%;
            .content {
                width: 100%;
                padding: inherit;

                .title {
                    font-size: 3rem;
                }
            }
        }

        .left{
            display: none;
        }

    }

  } 