#beginner-card, #advance-card{
    background-color: rgb(169, 182, 233) !important;
    
}
.card-title, .card-text{
    color: black !important;
}

.card-title{
    border: 3px solid black;
    border-radius: 4em;
    width:50%;
    margin: auto;
    padding: 1em 0 1em;
    background-color: rgb(204, 235, 253);
}

.card-text{
    font-size: larger;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    padding: 1em 0 1em;
    margin-bottom: 1em 0 1em;
}

.current-flyer{
    width:27em !important;
    margin:auto !important;
    margin-top: 1em !important;
}

.skills-section{
    border: .5em inset  rgb(0, 157, 248);
    width: 65%;
    margin:auto;
    padding: .7em 0 .7em;
}


.carousel{
    max-height:12em;
    max-width:12em;
    margin: auto;
    background-color: rgb(0, 0, 0);
}
.carousel-inner, .carousel img{
    max-height:12em;
}
.carousel-caption{
    position: absolute;
    top: 63%;
}
.carousel-caption h4{
    font-size: 1em;
    background-color: rgba(46, 46, 46, 0.6);
    padding: 3px 0 3px;
    border-radius: 1em;
}
.carousel-indicators{
    bottom:-18px;
}

@media only screen and (max-width: 768px){
    .carousel{
        max-height:10em;
        max-width:10em;
        margin: auto;
        background-color: rgb(0, 0, 0);
    }
    .carousel-inner, .carousel img{
        max-height:10em;
        margin: auto;
    }
    .carousel-caption{
        position: absolute;
        top: 55%;
        
    }
}