.carousel{
    max-height:12em;
    max-width:12em;
    margin: auto;
    background-color: rgb(0, 0, 0);
}
.carousel-inner, .carousel img{
    max-height:12em;
    margin: auto;
}
@media only screen and (max-width: 768px){
    .carousel img{
        margin: auto;
        height:20em !important;
      }
}