.project-title-card {
    /* When the height is less than 70vh, the beginner and advanced tabs are not be clickable */
    height: 80vh;
    background: 
    linear-gradient(
    rgba(0, 0, 0, 0.55), 
    rgba(0, 0, 0, 0.55)),
    url("./fall2019/space0.jpg");
    background-size: cover !important;
    align-self: center;
    font-size: 4.4rem;
    color: white;
    opacity: .6;
    font-weight: bold;
    grid-row: 1/2;
    grid-column: 2/3;
}

.project-title-text {
    height: 30vh;
    width: 100%;
    position: absolute;
    z-index: 2;
    font-size: 3.5rem;
    color: white;
    font-weight: bold;
    line-height: 0.9;
    text-align: left;
    padding-top: 30vh;
    /* display: grid; */
    grid-template-rows: 1fr 1.4fr;
    padding-left: 3rem;
}

.emphasis {
    color: #029CD7;
}

.project-card {
    margin: auto;
    text-align: left;
    color: white;
    padding-left: 20px;
    padding-top: 30px;
}

.project-nav-link {
    color: white;
}

.project-nav-link-tab {
    outline: 1px solid white;
}

.project-tab-content {
    width: 70vw
}

.project-images {
    min-width: 2in;
    max-width: 20vw;
    margin: 5px;
}

.project-poster {
    min-width: 300px;
    max-width: 30vw;
}

.project-carousel {
    max-width: 200px;
}

.project-body {
    color: white
}

.disclaimer-body {
    margin-top: 10px;
    padding-left: 20px;
    text-align: left;
    padding-bottom: 20px;
}

.disclaimer_header{
    font-size: 30px;
    text-align: center;
    text-decoration-color: #fff;
    color: red;
    padding-top: 10px;
}

.disclamier_info{
    /* padding-left: 20px;
    padding-right: 20px; */
    padding: 20px;
}

.space {
    margin-top: 1.5rem;
}

.videoWrapper {
    position:relative;
    padding-bottom: 20px;
    padding-left: 30%;
    padding-right: 30%;
    /*max-width: 90%;*/

}

/* Source: https://www.itsupportguides.com/knowledge-base/website-tips/how-to-make-embed-youtube-iframe-mobile-responsive/ */
iframe[src*=youtube] {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

@media only screen and(max-width){
    .project_info{
        padding: 20px;
    }
}

.disclaimer {
    font-size: 20px;
}

.anchor-blue {
    color: #029CD7 !important;
}

.carousel-image {
    max-height: 75rem;
    max-width: 50rem;
}

.carousel-leader-image {    
    max-height: 50rem;
    max-width: 25rem;
}

.project-description {
    margin-top: 1rem;
}

@media only screen and (max-width: 600px) {
    .disclaimer-body {
        padding-right: 5px;
    }
    .flex-column {
        padding-bottom: 35px;
    }
    .project-title-text {
        padding-top: 20vh;
    }
    .project-poster {
        min-width: 90vw;
        padding-left: 0px;
        padding-right: 0px;
    }
    .project-tab-label {
        font-size: 0.85rem;
    }
    .videoWrapper {
        position:relative;
        padding-left: 10%;
        padding-right: 10%;
    
    }
    iframe[src*=youtube] {
        min-width: 90vw;
    }
  }