.project-title-card {
    height: 110vh;
    background: 
    linear-gradient(
    rgba(0, 0, 0, 0.55), 
    rgba(0, 0, 0, 0.55)),
    url("./Space Invaders/space1.jpg");
    background-size: cover !important;
    align-self: center;
    font-size: 4.4rem;
    color: white;
    opacity: .6;
    font-weight: bold;
    grid-row: 1/2;
    grid-column: 2/3;
}

.project-title-text {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    font-size: 3.0rem;
    color: white;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    padding-top: 40vh;

    /* display: grid; */
    grid-template-rows: 1fr 1.4fr;
    padding-left: 3rem;
}

.emphasis {
    color: #029CD7;
}

.quote-style-2 {
    text-align: left;
    padding-top: 75px;
    padding-left: 75px;
}

.project-card {
    margin: auto;
    text-align: left;
    color: white;
}

.project-nav-link {
    color: white;
}

.quote-block {    
    border-radius: 15px;
    background-color:#1f1f1f !important;
}

.quote-bg {
    background: url('pictures/56775641_2321879274713318_1528259817590751232_n.jpg');
    background-size: cover;  
    background-attachment: fixed;
    background-blend-mode: darken;
}

.project-tab-content {
    width: 70vw
}

.project-images {
    min-width: 2in;
    max-width: 20vw;
    margin: 5px;
}

.project-poster {
    min-width: 200px;
    max-width: 20vw;
}

.project-carousel {
    max-width: 200px;
}

.project-body {
    color: white
}

.mentorship-body {
    padding-top: 10vh;
    padding-left: 10vw;
    padding-bottom: 8vh;
    padding-right: 10vw;
    text-align: left;
}

.disclaimer_header{
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #fff;
    color: red;
}

.disclaimer {
    font-size: 20px;
}

.anchor-blue {
    color: #029CD7 !important;
}

.mentorship-images {
    float: right;
    min-width: 1.75in;
    max-width: 20vw;
    margin: 15px;
}

.carousel-image {
    max-height: 75rem;
    max-width: 50rem;
}

.carousel-leader-image {    
    max-height: 50rem;
    max-width: 25rem;
}