.about-us-card {
  height: 80vh;
  background: 
  linear-gradient(
    0deg, rgba(0, 0, 0, 0.55), 
    rgba(0, 0, 0, 0.55)),
  url("./images/classroom.png");
  background-size: cover !important;
  align-self: center;
  filter: blur(1px);
  font-size: 4.4rem;
  color: white;
  opacity: .6;
  font-weight: bold;
  grid-row: 1/2;
  grid-column: 2/3;
}
.about-us-text {
  height: 30vh;
  width: 100%;
  position: absolute;
  z-index: 2;
  font-size: 3.5rem;
  color: white;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  padding-top: 32vh;
  /* display: grid; */
  grid-template-rows: 1fr 1.4fr;
  padding-left: 3rem;
}
/* Don't delete: .jumbotron affects all Jumbotrons */
.jumbotron {
  color: white;
  padding-left: 3rem;
  margin-bottom: 0 !important;
  background-color: #1F1F1F !important;
}
.mission-statement-card {
  height: 86vh;
  background: #2B2727 no-repeat fixed;
}

.our-mission-header {
  text-align: center;
  font-size: 3rem;
  color: white;
  width: 75%;
  margin: auto;
  background-color: black;
  border-radius: .5rem;
}

.mission-statement-text {
  text-align: center;
  color: white;
}

.mission-statement-points {
  text-align: center;
  font-size: 1.25rem;
  color: white;
  width: 75%;
  margin: auto;
}

.mission-statement-item{
  background-color: #424242;
}

.info-content-container{
  background-color: #424242;
  border-radius: 6px;
  padding: 2px;
  margin-bottom: 15px;
  height: 135mm;
}

.info-header-container{
  background-color: black;
  border-radius: 6px;
  margin-top: 1px;
  height: 13mm;
}

.info-header{
  color: #01a4ff;
  margin-left: 15px;
  font-size: 27px;
  padding-top: 4px;
}

.button-row {
  width: 83.5%;
  margin-top: 60px;
  margin-left: 60px;
  margin-bottom: 30px;
}

.about-text {
  text-align: left;
  /* font-size: 1.25rem; */
  /* margin-left: 60px; */
  font-size: 1.0rem;
  padding-top: 5px;
  padding-left: 10px;
  color: white;
}


.info-row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.info-row .about-text li {
  margin-bottom: .75rem;
}

.offer-text {
  text-align: left;
  font-size: 1.0rem;
  padding-top: 5px;
  padding-left: 10px;
  color: white;
}

.info-row .offer-text li {
  margin-bottom: .75rem;
}

.join-text {
  text-align: left;
  font-size: 1.0rem;
  padding-top: 5px;
  padding-left: 10px;
  color: white;
}

.info-row .join-text li {
  margin-bottom: .75rem;
}
.info-row .join-text p {
  margin-bottom: .75rem;
}

.bottom-section {
  margin-left: 20px;
}

@media only screen and (max-width: 600px) {
  .bottom-section {
    margin-left: 15px;
  }

  .about-image {
    height: auto;
    width: auto;
  }
  .mission-statement-points {
    text-align: center;
    font-size: 1.25rem;
    color: white;
    width: 90%;
    margin: auto;
  }
  .our-mission-header {
    text-align: center;
    font-size: 3rem;
    color: white;
    width: 90%;
    margin: auto;
    background-color: black;
    border-radius: .5rem;
  }
}