.first-row {
  margin-top: 60px;
}

.about-text {
  text-align: left;
  margin-left: 60px;
}

.offer-text {
  text-align: left;
  margin-right: 60px;
}

.join-text {
  text-align: left;
  margin-left: 60px;
}

.first-row {
  margin-bottom: 30px;
}

.second-row {
  margin-bottom: 30px;
}

.third-row {
  margin-bottom: 30px;
}