.board-card {
	height: 80vh;
	width: 100%;
	background: 
	linear-gradient(
	  0deg, rgba(0, 0, 0, 0.55), 
	  rgba(0, 0, 0, 0.55)),
	url("../aboutus/images/group.jpg");
	background-size: cover !important;
	align-self: center;
	filter: blur(1px);
	font-size: 4.4rem;
	color: white;
	opacity: .6;
	font-weight: bold;
	grid-row: 1/2;
	grid-column: 2/3;
  }

.board-text {
	height: 30vh;
	width: 100%;
	position: absolute;
	z-index: 2;
	font-family: Roboto;
	font-size: 3.5rem;
	color: white;
	font-weight: bold;
	line-height: 1.2;
	text-align: left;
	padding-top: 32vh;
	/* display: grid; */
	grid-template-rows: 1fr 1.4fr;
	padding-left: 3rem;
}

.body {
	width: 100vw;
   background-color: #1f1f1f !important;
   align-items: center;
   font-family: 'Open Sans', sans-serif !important;
}
.subcon-body{
	text-align: left;
	width: 100vw;
	padding: 25px;
}

.container-body{
	width: 100vw;
	color: white;
	font-family: 'Montserrat', sans-serif;
	padding: 0px !important;
	margin-left: 0px !important;
}
.row{
	width: 100vw;
	padding: 0px !important;
}

.row-leaders{
	width: 100vw;
	padding-left: 10vw;
	margin-bottom: 1rem;
}

.all-row-leaders{
	margin-bottom: 3rem;
}

.small-header{
	text-transform: uppercase;
	font-size: 15px;
	padding: 0px;
	text-align: left;
}

.col-leaders{
	display:inline-flex;
}

.view-more{
	float: right;
	color: white;
}

.view-more-sm{
	float: left;
	color: white;
}

a:hover{
    color: #029CD7 !important;
    text-decoration: none;
}

.background-change{
	background-color: #1f1f1f ;
}
.full-container-leaders{
	margin: 100px;
}
.center-officers{
	width: 100vw;
}
.officer{
	padding-bottom: 25px;
}

.leaders-div{
	background-color: #121212 !important;
}

.image-cropper {
    width: 100px;
    height: 100px;
	object-fit: cover;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: solid 2px white;
}
.profile-pic {
  display: inline;
  margin: 0 auto;
}

.officer-info{
	width: 350px;
	padding-left: 25px;
}

.h2-black{
	color: black;
}

.hr-header{
	color:  #029CD7;
}

.leaders-div{
/* clip-path: polygon(0 0, 100% 7%, 100% 100%, 0% 100%); */
padding-top: 30px !important;
}

.centered-leader{
	text-align: center;
}

h2{
	margin-left: auto;
	margin-right: auto;
	font-size: 23px;
}


.h2-leaders{
	padding: 10px;
}

.officer-info{
	display: inline-block;
	text-align: left;
}

.name{
	flex-wrap: wrap;
	word-wrap: normal;
}
.board{
	width: auto;
	height: 150px;
}

@media only screen and (max-width: 600px) {
	h2{
		margin-left: auto;
		margin-right: auto;
		font-size: 4vw;
	}
	
	.h2-leaders{
		font-size: 4vw;
	}

	.officer-info{
		display: inline-block;
		text-align: left;
		font-size: 3.5vw;
	}
  }
