/****added code****/

.news-container {
	text-align: center;
}

/****end of added code ****/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.body {
	width: 100vw;
   background-color: #1f1f1f !important;
   align-items: center;
   font-family: 'Open Sans', sans-serif !important;
}
.subcon-body{
	text-align: left;
	width: 100vw;
	padding: 25px;
}

.container-body{
	width: 100vw;
	color: white;
	font-family: 'Montserrat', sans-serif;
	padding: 0px !important;
	margin-left: 0px !important;
}
.row{
	width: 100vw;
	padding: 0px !important;
}

.row-leaders{
	width: 100vw;
	padding-left: 10vw;
}

.small-header{
	text-transform: uppercase;
	font-size: 15px;
	padding: 0px;
	text-align: left;
}

.col-leaders{
	display:inline-flex;
}

.news{
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding: 50px;

}

.view-more{
	float: right;
	color: white;
}

.view-more-sm{
	float: left;
	color: white;
}

a:hover{
    color: #029CD7 !important;
    text-decoration: none;
}

.background-change{
	background-color: #1f1f1f ;
}
.full-container-leaders{
	margin: 100px;
}
.center-officers{
	width: 100vw;
}
.officer{
	padding-bottom: 25px;
}

.god-saver{
	width: auto;
	height: 150px;

}

.benefits-text {
	padding: 50px;
	text-align: center;
}

.container-benefits{
	margin-right: 3%;
}

.container-quote{
	-webkit-clip-path: polygon(0 0, 100% 7%, 100% 100%, 0% 100%);
	clip-path: polygon(0 0, 100% 7%, 100% 100%, 0% 100%);
	background-color: #161616;
}

.leaders-div{
	background-color: #121212 !important;
}

.space{
	height: 150px;
}

.quote-style-1{
    font-family: 'Open Sans', sans-serif !important;
	padding: 5%;
	font-size: 35px;
	color: white;
	width: 100vw;
}
.quote-style-2{
    font-family: 'Open Sans', sans-serif !important;
	font-size: 35px;
	color: white;
	padding: 0px !important;
}

.projects-text{
	background-color: black;
	text-align: right;
	width: 100px;
	padding-top: 10%;
	padding-bottom: 10%;
}

.projects-text-space{
	background-color: black;
	text-align: left;
	width: 100px;
	padding-top: 10%;
	padding-bottom: 10%;
}

.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: solid 2px white;
}
.profile-pic {
  display: inline;
  margin: 0 auto;
  height: 100%;

}

.officer-info{
	width: 350px;
	padding-left: 25px;
}

.h2-black{
	color: black;
}

.space-projects-image{
	background-image: url('./space-invaders.jpg');
	background-size: cover;
	height: auto;
}

.react-projects-image{
	background-image: url('./react-background.png');
	background-size: cover;
	height: auto;
}


.hr-header{
	color:  #029CD7;
}
.container-projects{
	background-color:black;
	-webkit-clip-path: polygon(0 17%, 100% 0, 100% 100%, 0% 100%);
	clip-path: polygon(0 17%, 100% 0, 100% 100%, 0% 100%);
	margin: 0px;
}


.full-container-special{
 	border-bottom: solid 5px #32b8ed;
 	border-top: solid 5px #32b8ed;
}

.benefits-h2{
	text-align: center;
}

.benefits-h1{
	padding-bottom: 50px;
	text-align: center;
}

.leaders-div{
clip-path: polygon(0 0, 100% 7%, 100% 100%, 0% 100%);
padding-top: 150px !important;
}

.centered-leader{
	text-align: center;
}

.quote-style-4{
	padding-top: 100px;
	padding-bottom: 100px;
}

h2{
	margin-left: auto;
	margin-right: auto;
	font-size: 23px;
}


.h2-leaders{
	padding: 10px;
}

.officer-info{
	display: inline-block;
	text-align: left;
}