.membership-card {
	height: 80vh;
	width: 100%;
	background: 
	linear-gradient(
	  0deg, rgba(0, 0, 0, 0.55), 
	  rgba(0, 0, 0, 0.55)),
	url("../aboutus/images/fall-2019-general-meeting.jpg");
	background-size: cover !important;
	align-self: center;
	filter: blur(1px);
	font-size: 4.4rem;
	color: white;
	opacity: .6;
	font-weight: bold;
	grid-row: 1/2;
	grid-column: 2/3;
  }

.membership-text {
	height: 30vh;
	width: 100%;
	position: absolute;
	z-index: 2;
	font-family: Roboto;
	font-size: 3.5rem;
	color: white;
	font-weight: bold;
	line-height: 1.2;
	text-align: left;
	padding-top: 32vh;
  
	/* display: grid; */
	grid-template-rows: 1fr 1.4fr;
	padding-left: 3rem;
}

.headerLogo{
	width: 500px;
}
.header-text{
  font-size: 30px;
  font-family: 'Open Sans', sans-serif !important;
}
.iconBrand{
  margin-right: 10px;
}

.carousel_container{
	width: 800px;
	height: 400px;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

@media (max-width: 600px){
	.carousel_container{
		width: 100%;
		height: 400px;
	}

	.membership_form{
		width: auto
	}
}

.image{
	/* height: 50px; */
	width: 100px;
}

.slide{
	width: 100vw;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#logoImage{
	width: 300px;

}

.membership-shirt{
	width: 0px;
}

.paypal-form-container {
	margin-top: 1rem;
}

.shirt-image {
	padding-top: 1em;
}

#membership-body{
	background-color: #161616;
	text-align: left;
}

.membership-registration{
	width: 10px;
}

.tab-content{
	width: 55vw;
}

.tab-container{
	width: 9rem;
}

.card{
	width: auto;
	height: auto;
	background-color:#1f1f1f !important;
	/* padding: 20px;
	margin: 20px; */
}

.form_card{
	background-color: teal !important;
}

a{
	color: black !important;
}

.nav-item{
	color:white !important;

}

.header-left{
	float: left;
}

.btn-info{
	color:white !important;
}

.t-shirts{
	width: 150px;
}

.membership-footer-text{
 text-align: center !important;
}

.venmo-container {
	display: flex;
	width: 100%;
	height: 22rem;
	margin-top:1rem;
	margin-bottom:1rem;
}

.venmo-qr {
	width: 14rem;
	height: 22rem;
}

h2{
	padding-top: 10px;
}

.email{
	text-decoration: underline;
	text-decoration-color: #ffffff !important;
	color: white !important;
}

.accordion-background{
	background-color: #161616;
}

.text-info{
	color: white !important;
	text-align: center;
}

.member-description{
	font-size: 3.7rem;
}

.member-description-points{
	font-size: 1.5rem;
}

.list-group{
	margin-bottom: 1.5rem;
}
.list-group-item{
	font-family: Roboto;
	color: black;
	font-size: 1.5rem;
	width: 48vw;
	margin: auto;
	border-radius: 3px;
}

.refund{
	color: red;
}

.success_message{
	margin-top: 100px;
}

.join-card:hover {
	cursor: pointer;
}

.join-card-header {
	background-color: black;
}

.join-card-header:hover {
	background-color: #4d4d4d;
}
