.headerLogo{
	width: 500px;
}
.header-text{
  font-size: 30px;
  font-family: 'Open Sans', sans-serif !important;
}
.iconBrand{
  margin-right: 10px;
}

.slide{
	width: 100vw;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#logoImage{
	width: 300px;

}

.membership-text{
	font-size:16px;
}

.membership-parallax-text{
	position: absolute;
	padding-top: 35vh;
	padding-left: 10vh;
	margin:auto;
}
.membership-shirt{
	width: 0px;
}

.parallax_style2 {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.0),
      rgba(0, 0, 0, 0.0)
          ),
    url('./assets/image1.png');

  /* Set a specific height */
  min-height: 60vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: top;

  padding-top: 45vh;
  padding-left: 20vh;
  text-align:left;
  color:white;

  -webkit-clip-path: polygon(0 0, 100% 0, 200% 56%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.parallax_style3 {
	background-image: linear-gradient(to left, rgba(0,0,0,0), black 85%),
    url('./assets/image3.png');

  background-attachment: fixed;

  /* Set a specific height */
  min-height: 100vh;

  /* Create the parallax scrolling effect */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color:white;

  -webkit-clip-path: polygon(0 0, 100% 0, 200% 56%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

/*

added coded

*/
.paypal-form-container {
	margin-top: 1rem;
}
/*

end of code

*/

.shirt-image {
	padding-top: 1em;
}

#membership-body{
	background-color: #161616;
	text-align: left;
}

.membership-registration{
	width: 10px;
}

.tab-content{
	width: 50vw;
}

.tab-container{
	width: 9rem;
}

.card{
	width: auto;
	height: auto;
	background-color:#1f1f1f !important;
	padding: 50px;
	margin: 50px;
}

a{
	color: white !important;
}

.nav-item{
	color:white !important;

}

.header-left{
	float: left;
}

.btn-info{
	color:white !important;
}

.t-shirts{
	width: 200px;
}

.membership-footer-text{
 text-align: center !important;
}


.venmo-container {
	display: flex;
	width: 100%;
	height: 22rem;
	margin-top:1rem;
	margin-bottom:1rem;
}

.venmo-qr {
	width: 14rem;
	height: 22rem;
}
h2{
	padding-top: 10px;
}
