/*

added coded

*/
.paypal-form-container {
	margin-top: 1rem;
}
/*

end of code

*/


.default-padding-top{
	padding-top: 50px;
	color:white;
	text-align: left;
}

.card{
	width: auto;
	height: auto;
	padding: 50px;
	margin: 50px;
}

.header-left{
	float: left;
}

.t-shirts{
	width: 200px;
}

.venmo-container {
	display: flex;
	width: 100%;
	height: 22rem;
	margin-top:1rem;
	margin-bottom:1rem;
}

.venmo-qr {
	width: 14rem;
	height: 22rem;
}

.btn-membership {
	margin-top: 2rem;
}
h2{
	padding-top: 10px;
}