.headerLogo{
	width: 500px;
}
.header-text{
  font-size: 30px;
  font-family: 'Open Sans', sans-serif !important;
}
.iconBrand{
  margin-right: 10px;
}

.slide{
	width: 100vw;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#logoImage{
	width: 300px;

}
.parallax_style2 {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.55), 
      rgba(0, 0, 0, 0.55)
          ),
    url("throphie.png");

  /* Set a specific height */
  min-height: 60vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: top;

  padding-top: 45vh;
  padding-left: 20vh;
  text-align:left;
  color:white;

  -webkit-clip-path: polygon(0 0, 100% 0, 200% 56%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
