.navbar {
    background-color: transparent;
    border-radius: 0 !important;
    letter-spacing: 2px;
    border: none !important;
    z-index: 100;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out 0s;
    text-align:center;
    
}

.brandlogos{
    padding-top: 25px;
}

.iconBrand{
    color:white;
}

.navbar.solid {
    background-color: #1f1f1f !important;
    box-shadow: 0 0 4px #15161Ace;
}

.solid{
    background-color: #1f1f1f !important;
    opacity: 1;

}

.navbar a{ 
    color: #ffffff !important;
    font-size: 9pt;
    font-style: bold;
}


.nav-item{
    font-weight: bold;
    padding-right: 4rem;
}

.btn{
    width: 10rem;
}

.nav-link:hover{
    color: #029CD7 !important;
}

.nav-item button:hover{
    background-color: #029CD7 !important;
    color: #ffffff !important;
    border-color: #2ecc71 !important;
}

.navbar-toggler{
    border-color: transparent !important;
}

#logo{
    width:75px;
}