.navbar {
    width: 100vw;
    background-color: transparent !important;
    border-radius: 0 !important;
    letter-spacing: 2px;
    border: none !important;
    z-index: 100;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out 0s;
    text-align:center;
    vertical-align: center;

}

.brandlogos{
    padding-top: 25px;
}
.return{
    margin-top: 10px;
}

.iconBrand{
    color:white;
}

.Navbar.solid {
    background-color: #1f1f1f !important;
    box-shadow: 0 0 4px #15161Ace;
}

.solid{
    background-color: #1f1f1f !important;
    opacity: 1;

}

.navbar a{ 
    color: #ffffff !important;
    font-size:10pt;
}

.nav-membership-button{
    width: 100%;
    justify-content: center;
}

.nav-item{
    padding-right: 1rem;
}

.btn{
    width: 10rem;
}

.nav-link:hover{
    color: #029CD7 !important;
}

.nav-item button:hover{
    background-color: #029CD7 !important;
    color: #ffffff !important;
    border-color: #2ecc71 !important;
}


.mr-auto{
    justify-content: center !important;
}

#logo{
    width:75px;
}

.nav-dropdown-text {
    color: black;
}