.contact-us-page {
  padding-top: 70px;
}

/*.txtb {
  border: 1px solid gray;
  /* margin: 8px 0; */ /*
  margin-top: 8px;
  margin-left: 5%;
  margin-right: 5%;
  padding: 12px 18px;
  border-radius: 8px;
  /*changing bg color*/ /*
  background-color: #1c1c1e;
} */

.txtb {
  width: auto;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 1em;
  padding-left: 1em;
  background-color: #32617b;
  border-radius: 1em;
  margin: 0.5em;
  text-align: left;
}
.txtb label {
  display: block;
  text-align: left;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}

.txtb input,
.txtb textarea {
  width: 100%;
  border: none;
  background-color: #32617b;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
  color: rgb(223, 221, 221);
}

#btn-form {
  display: block;
  background: #6f613a;
  padding: 15px 0;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 3em;
  width: 81%;
  border: none;
}

.contact-us-page {
  background-color: #131d29;
}

.contact-us-block {
  width: 90%;
  font-weight: bold;
  color: white;
  /* padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 6%;
  padding-left: 6%; */
}

.header {
  height: 75vh;
  background: linear-gradient(rgba(0, 0, 0, 0.40), rgb(0, 153, 255, 0.40)),
    url("./images/header-background-image.jpg");
  background-size: cover !important;
  /*background-attachment: fixed;*/
  align-self: center;
  filter: blur(1px);
  font-size: 4.4rem;
  color: white;
  opacity: 0.6;
  font-weight: bold;
  grid-row: 1/2;
  grid-column: 2/3;
}

.header-text {
  height: 30vh;
  width: 100%;
  position: absolute;
  z-index: 2;
  font-size: 3.5rem;
  color: white;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  padding-top: 25vh;
  /* display: grid; */
  grid-template-rows: 1fr 1.4fr;
  padding-left: 3rem;
}

.faq-block {
  width: 90%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 6%;
  padding-left: 6%;
  background-color: #131d29;
}

.contact-label {
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 1px;
}

.contact-us-card {
  width: auto;
  height: auto;
  /*padding: 5px 150px 5px 150px; */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 6%;
  padding-left: 6%;
  border: none;
  font-weight: normal;
}

.faq-question {
  margin: 1em;
  /* padding: 3em; */
}
/* .contact-us-block {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: black;
} */

.txtb:focus {
  background-color: #026e9f;
}
.faq-ans {
  background-color: #026e9f;
}

.label {
  color: white;
}

.card-bg {
  color: white !important;
}

.contact-us-logo {
  max-height: 250px;
  max-width: 250px;
  display: flexbox;
  margin-left: auto;
  margin-right: auto;
}

.contact-us-logo-2 {
  max-height: 60px;
  max-width: 60px;
  display: flexbox;
  margin-left: auto;
  margin-right: 15px;
}

.contact-info {
  font-size: 20px;
}
