/* .header{
    width:85%;
    max-width: 600px;
    background: #000000;
    position: absolute;
    transform: translate(110%, 50%);
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 20px #000000b3;
    font-family: "Monteserrat", "san-serif";
}

.headertxt{
    margin: 8px 0px;
    padding: 12px 18px;
    text-align: left;
    font-size: 16px;
} */
/* 
.contact-form{
    width:85%;
    max-width: 600px;
    background: #f1f1f1;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 20px #000000b3;
    font-family: "Monteserrat", "san-serif";
} */

/* .contact-form h1{
    margin-top: 0;
    font-weight: 200;
} */

.contact-us-page {
    padding-top: 60px;
}

.txtb{
    border: 1px solid gray;
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 8px;
}

.txtb label{
    display: block;
    text-align: left;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
}

.txtb input, .txtb textarea{
    width: 100%;
    border: none;
    background: none;
    outline: none; 
    font-size: 18px;
    margin-top: 6px;
}

#btn-form{
    display: block;
    background: #2898cc;
    padding: 10px 0;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 8px;
    width: 100%;
}

.contact-us-card {    
	width: auto;
	height: auto;
    background-color:black !important;
    /* padding: 5px 150px 5px 150px; */
    padding: 10px;
}

.label {
    color: white
}

.card-bg{
    color: white !important
}

.contact-us-logo {
    max-height: 200px;
    max-width: 200px;
    display: flexbox;
    margin-left: auto;
    margin-right: auto;
}

.contact-us-logo-2 {
    max-height: 75px;
    max-width: 75px;
    display: flexbox;
    margin-left: auto;
    margin-right: 15px;
}