.contact-us-page {
    padding-top: 70px;
}

.txtb {
    border: 1px solid gray;
    /*margin: 8px 0;*/
    margin-top: 8px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 12px 18px;
    border-radius: 8px;
}

.txtb label {
    display: block;
    text-align: left;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
}

.txtb input, .txtb textarea {
    width: 100%;
    border: none;
    background: none;
    outline: none; 
    font-size: 18px;
    margin-top: 6px;
}

#btn-form {
    display: block;
    background: #2898cc;
    padding: 15px 0;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 81%;
}

.contact-us-card {    
	width: auto;
	height: auto;
    background-color:black !important;
    /* padding: 5px 150px 5px 150px; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10%;
    padding-left: 10%;    
}

.contact-us-block {
    margin-top: 10px;
    margin-bottom: 10px;

}

.label {
    color: white
}

.card-bg {
    color: white !important
}

.contact-us-logo {
    max-height: 250px;
    max-width: 250px;
    display: flexbox;
    margin-left: auto;
    margin-right: auto;
}

.contact-us-logo-2 {
    max-height: 60px;
    max-width: 60px;
    display: flexbox;
    margin-left: auto;
    margin-right: 15px;
}

.contact-info {
    font-size: 20px;
}