.impAnnouncements-tease {
    background-image: url('../impAnnouncements/images/announcements.jpg');
    
    width: 100%;
    background-size: cover;
    background-position-y: 30%;
    background-repeat: no-repeat;
    color: white;

    justify-content: center;
    display: flex;
    flex-wrap: wrap;

    .img {
        filter: grayscale(100%);
    }

    // Source: https://www.itsupportguides.com/knowledge-base/website-tips/how-to-make-embed-youtube-iframe-mobile-responsive/
    iframe[src*=youtube] {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        padding-bottom: 10px;
    }


    .content {
        padding: 4rem;
        text-align: center;
        vertical-align: middle;
        display: table-cell;
        height: 100%;

        .subTitle {
            font-size: 2rem;
            line-height: 1;
            font-weight: lighter;
        }

        .title{
            padding-top: 10px;
            margin-bottom: 2rem;
            font-weight: bold;
            font-size: 3rem;
            text-transform: uppercase;
            line-height: 1;
        }
        
        .description {
            text-align: center;
            list-style-position: inside;
            font-weight: lighter;
            font-size: 2rem;
        }

        .space {
            margin-bottom: 2rem;
        }

        li {
            padding-top: 0.9rem;
        }

        a:link {
            background-color: white;
            text-decoration: underline;
        }
    }
}