.container{
  color: white;
  margin: 0px;
  width: inherit;
}

.bottom-container{
  height: auto;
  background-color: #161616;
  font-family: 'Open Sans', sans-serif !important;
  text-align: center;
}

.top-container{
  font-family: 'Open Sans', sans-serif !important;
  text-align: left;
}

.footer-text
{
  padding-top:3%;
}

.footer-leader-text{
  text-align: left;
  padding-left: 5vw;
}

.copy-right{
  color: #636363 !important;
  text-transform: uppercase;
  font-size: 10px;
}

.footer-catchy-text{
  font-size: 30px;
}

.inner{
  margin-left: 10px;
}

.iconIGHover{
  display: inline-table;
  cursor: pointer;
  border-radius: 10px;  
  padding-top: 2px;
  padding-bottom: 5px;
  padding-left: 0.5px;
  padding-right: 0.5px;
  margin: 4px;
}

.iconIGHover:hover{
  background-color: #01a4ff; 
  width: 4%;
  padding-top: 2px;
  padding-bottom: 5px;
  padding-left: 0.5px;
  padding-right: 0.5px;
  margin: 4px;
}

.iconFBHover{
  display: inline-table;
  cursor: pointer;
  border-radius: 10px;  
  font-size: 14px;
  padding: 6px;
  margin: 4px;
}

.iconFBHover:hover{
  background-color: #01a4ff; 
  width: 4%;
  padding: 6px;
  margin: 4px;
}

.iconDiscordHover{
  display: inline-table;
  cursor: pointer;
  border-radius: 10px;
  font-size: 14px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 1px;
  padding-right: 1px;
  margin: 4px;
}

.iconDiscordHover:hover{
  background-color: #01a4ff; 
  width: 4%;
  padding: 6px;
  padding-left: 1px;
  padding-right: 1px;
  margin: 4px;
}