.event-card {
  height: 85vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgb(0, 153, 255, 0.4)),
    url("./images/header-background-image.jpg");
  background-size: cover !important;
  background-position: center;
  background-attachment: fixed;
  align-self: center;
  filter: blur(1px);
  font-size: 4.4rem;
  color: white;
  opacity: 0.6;
  font-weight: bold;
  grid-row: 1/2;
  grid-column: 2/3;
}
.event-text {
  height: 30vh;
  width: 100%;
  position: absolute;
  z-index: 2;
  font-size: 3.5rem;
  color: white;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  padding-top: 32vh;
  /* display: grid; */
  grid-template-rows: 1fr 1.4fr;
  padding-left: 3rem;
}
.events-container {
  background-color: black !important;
  /* height: 100% !important;
  text-align: left !important;
  display: grid;
  width: 100%; */
}

/* .justify-content-md-center{
  grid-template-columns: auto auto auto auto;
  grid-gap: 50px 30px ;
  margin-bottom: 3rem;
  margin-left: auto;
} */

/* .upcoming-events {
  width: 90%;
}

.semester-events {
  width: 90%;
} */

.events-main-text {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  font-size: 3.5rem;
  color: white;
  font-weight: bold;
  line-height: 1.2;

  display: grid;
  grid-template-rows: 1fr 1.4fr;
  padding-left: 3rem;
  padding-top: 70px;
}

.events-main-text p:first-of-type {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: end;
}

.events-main-text p:nth-of-type(2) {
  grid-row: 2/3;
  grid-column: 1/2;
  align-self: start;
  margin-bottom: 4rem;
}

/* Don't delete: .jumbotron affects all Jumbotrons */
.jumbotron {
  color: white;
  padding-left: 3rem;
  margin-bottom: 0 !important;
  background-color: #1f1f1f !important;
}

.events-main-background {
  height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("./images/events-background.jpg") no-repeat center !important;
  background-size: cover !important;
  align-self: center;
  font-size: 4.4rem;
  color: white;
  opacity: 0.6;
  font-weight: bold;
  grid-row: 1/2;
  grid-column: 2/3;
}

.events-header {
  font-size: 3.5rem;
  margin-top: 1rem;
  margin-left: 3rem;
  color: white;
  font-weight: bold;
}

.border {
  color: #ffffff;
  background-color: #ffffff;
  height: 0.5;
  border-color: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
}

.see-more-button {
  background-color: #1f1f1f;
  color: white;
  padding: 1em;
  margin-bottom: 2em;
  border-color: white;
  font-weight: bold;
}

.see-more-button:hover {
  background-color: #026e9f;
}

/* Semicolon at </Carousel>; is required. We must hide it */
#semicolon {
  color: black;
}

.images {
  display: flex;
}

.professional-slideshow {
  height: 600px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.professional-slideshow > .images {
  height: 200px;
  width: 6500px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.professional-slideshow .images {
  animation: moveSlideshows 90s linear infinite;
}

@keyframes moveSlideshows {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-3070px, 0, 0);
  }
}

@media only screen and (max-width: 1004px) {
  .events-main-text {
    padding-left: 1rem;
    font-size: 2.7rem;
  }
}

@media only screen and (max-width: 420px) {
  .events-header {
    text-align: center;
    width: 100%;
    margin-left: 0 !important;
  }
}
