.Membership-tease {
    background-image: url('../membership/images/Group Pic.png');
    width: 100%;
    height: 30rem;
    background-size: 100%;
    background-position-y: 40%;
    background-repeat: no-repeat;
    color: white;

    justify-content: center;
    display: flex;
    flex-wrap: wrap;

    .left {

        width: 50%;
        height: 100%;
        
        .content { 
            
            width: 51rem;
            padding: 8rem;

            .subTitle {
                font-size: 2rem;
                line-height: 1;
                font-weight: lighter;
            }

            .title{
                font-weight: bold;
                font-size: 4rem;
                text-transform: uppercase;
                line-height: 1;
            }
    
            .link-btn{
                margin-top: 1rem;

                .label {
                    padding: 1rem;
                    color: white;
                    background-color: #0A84FF;
                }

                .label:hover{
                    background-color: white;
                    color: #0A84FF;
                }
            }
        }
    }

    .right{

        width: 50%;
    }
}

@media screen and (max-width: 1200px) {

    .Membership-tease {

        background-size: 300%;
        background-position: center;

        .right {
            display: none;
        }
    
        .left {
            width: 100%;
            display: table-cell;
            height: 100%;

            .content {
                padding: 4rem;
                width: inherit;
                display: table-cell;
                height: 100%;
                vertical-align: middle;


                .subTitle {
                    font-size: 1.5rem;
                }
    
                .title {
                    font-size: 3rem;
                }
            }


        }
    }

  } 