.events-container {
    background-color: black !important;
    height: 100% !important;
    text-align: left !important;
    display: grid;
    width: 100%;
}

.events-main-text {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    font-size: 4.4rem;
    color: white;
    font-weight: bold;
    line-height: 1.2;

    display: grid;
    grid-template-rows: 1fr 1.4fr;
    padding-left: 3rem;
    padding-top: 70px;
}

.events-main-text p:first-of-type {
    grid-column: 1/2;
    grid-row:1/2;
    align-self: end;
}

.events-main-text p:nth-of-type(2) {
    grid-row:2/3;
    grid-column: 1/2;
    align-self: start;
    margin-bottom: 4rem;
}

/* Don't delete: .jumbotron affects all Jumbotrons */
.jumbotron {
    color: white;
    padding-left: 3rem;
    margin-bottom: 0 !important;
    background-color: #1F1F1F !important;
}

.events-main-background {
    height: 60vh;
    background: url("./images/events-background.jpg") no-repeat center !important;
    background-size: cover !important;
    align-self: center;
    font-size: 4.4rem;
    color: white;
    opacity: .6;
    font-weight: bold;
    grid-row: 1/2;
    grid-column: 2/3;
}

.events-header {
    font-size: 4.6rem;
    margin-top: 1rem;
    margin-left: 3rem;
    color: white;
    font-weight: bold;
}

/* .events-container {
    display: grid;
    width: 100%;
    justify-content: center;
} */

/* Semicolon at </Carousel>; is required. We must hide it */
#semicolon {
	color:black;
}

@media only screen and (max-width: 1004px){
    .events-main-text {
        padding-left: 1rem;
        font-size: 3.4rem;
    }
}

@media only screen and (max-width: 420px){
    .events-header {
        text-align: center;
        width: 100%;
        font-size: 3.3rem;
        margin-left: 0 !important;
    }
}