.News-tease {
    background-image: url('../news/images/20190220_131239.jpg');
    width: 100%;
    height: 30rem;
    background-size: 100%;
    background-position-y: 30%;
    background-repeat: no-repeat;
    color: white;

    justify-content: center;
    display: flex;
    flex-wrap: wrap;

    .left {

        width: 50%;
    }

    .right{

        width: 50%;

                
        .content {

            padding: 4rem;
            padding-top: 8rem;
            text-align: right;

            .subTitle {
                font-size: 2rem;
                line-height: 1;
                font-weight: lighter;
            }

            .title{
                font-weight: bold;
                font-size: 4rem;
                text-transform: uppercase;
                line-height: 1;
            }
    
            .link-btn{
                margin-top: 1rem;

                .label {
                    padding: 1rem;
                    color: white;
                    background-color: #0A84FF;
                }

                .label:hover{
                    background-color: white;
                    color: #0A84FF;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {

    .News-tease {

        background-size: 300%;
        background-position-x: 25%;
        background-position-y: 40%;
        text-align: left !important;

        .right {

            padding: inherit;
            width: 100%;
            padding: 2rem;

            .content {
                text-align: left;
                padding: inherit;
                width: 100%;

                .title {
                    font-size: 3rem;
                }
            }
        }

        .left {
            display: none;
        }

    }

  } 