.quote-style-1 {
    text-align: center;
    font-size: 2.25rem;
    padding-top: 100px;
    padding-bottom: 25px;
}

.programs-card {
    margin: auto;
    text-align: left;
    color: white;
    padding-left: 20px;
    padding-top: 30px;
}

.programs-nav-link {
    color: white;
}

.programs-nav-link-tab {
    outline: 1px solid #029CD7;
}

.disclaimer-body {
    padding-left: 20px;
    text-align: left;
}

.disclaimer_header{
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #fff;
    color: red;
    padding-top: 10px;
}

.quote-block {    
    border-radius: 15px;
    background-color:#1f1f1f !important;
    width: 900px;
}

.quote-bg {
    background: url('pictures/programs-background.jpg');
    background-size: cover;  
    background-attachment: fixed;
    background-blend-mode: darken;
}

.programs-tab-content {
    width: 70vw
}

.programs-images {
    min-width: 3in;
    max-width: 30vw;
    margin: 5px;
}

.programs-poster {
    min-width: 300px;
    max-width: 30vw;
    padding: 10px;
}

.programs-body {
    color: white;
}

.mentorship-body {
    padding-top: 10vh;
    padding-left: 10vw;
    padding-bottom: 8vh;
    padding-right: 10vw;
    text-align: left;
}

.disclaimer {
    font-size: 20px;
}

.anchor-blue {
    color: #029CD7 !important;
}

.mentorship-images {
    float: right;
    min-width: 1.75in;
    max-width: 20vw;
    margin: 15px;
}

@media only screen and (max-width: 600px) {
    .quote-style-1 {
        padding-top: 30px;
    }
    .programs-body {
        padding-top: 75px;
    }
    .disclaimer-body {
        padding-right: 5px;
    }
    .flex-column {
        padding-bottom: 35px;
    }
    .programs-poster {
        /* min-width can be used to change poster size on mobile view */
        min-width: 90vw;
        padding-left: 0px;
        padding-right: 0px;
    }
    .programs-tab-label {
        font-size: 0.85rem;
    }
  }